.AddBill {
  color: black;
  overflow-x: hidden;
  padding: 10px;
}

.AddBill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddBill .title-container {
  display: flex;
  flex-direction: column;
  max-width: 1070px;
  width: 100%;
}

.AddBill .title-container hr {
  margin-top: 15px;
  background-color: #5E4731;
  height: 3px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.title-bill {
  font-size: 30px;
  width: 100%;
}

.add-bill-form-container {
  max-width: 1070px;
  width: calc(100vw - 20px);
  margin-bottom: 20px;
  background-color: var(--bg-secondary);
  border-radius: 4px;
}

.HeaderAddBill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #4C292F;
  background-color: #E2D6C7;
  height: 50px;
  border-radius: 4px 4px 0 0;
}

.HeaderAddBill>h3 {
  font-family: Poppins, sans-serif;
  margin-left: 20px;
}

/* --- Formulario --- */
.AddBill .billing-form {
  /* display: grid; */
  padding: 20px;
}

.billing-form__input--note {
  height: 70px;
}

/* --- Clic imput de formulario --- */
.AddBill .billing-form__input:is(:focus, :valid)~.billing-form__label {
  background-color: var(--bg-secondary);
}

/* --- Botón --- */
.AddBill-container .billing-form .billing-form__btn {
  max-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

@media (min-width: 525px) {
  .AddBill {
    padding: 40px;
  }

  .add-bill-form-container {
    width: calc(100vw - 80px);
  }
}

@media (min-width: 768px) {
  .AddBill {
    padding-left: 127px;
    padding-right: 40px;
    padding-bottom: 25px;
  }

  .add-bill-form-container {
    width: calc(100vw - 167px);
  }

  .AddBill .billing-form {
    display: grid;
    grid-column-gap: 25px;
    grid-row-gap: 5px;
  }

  .AddBill-container .billing-form .billing-form__div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
  }

  .AddBill-container .billing-form .billing-form__div:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }

  .AddBill-container .billing-form .billing-form__div:nth-child(3) {
    grid-area: 2 / 1 / 3 / 3;
  }

  .AddBill-container .billing-form .billing-form__div:nth-child(4) {
    grid-area: 2 / 3 / 3 / 5;
  }

  .AddBill-container .billing-form .billing-form__div:nth-child(5) {
    grid-area: 3 / 1 / 4 / 5;
  }

  .AddBill-container .billing-form .billing-form__div:nth-child(6) {
    grid-area: 4 / 1 / 5 / 3;
  }

  .AddBill-container .billing-form .billing-form__div:nth-child(7) {
    grid-area: 4 / 3 / 5 / 4;
  }

  .AddBill-container .billing-form .billing-form__div:nth-child(8) {
    grid-area: 4 / 4 / 5 / 5;
  }

  .AddBill-container .billing-form .billing-form__div:nth-child(9) {
    grid-area: 5 / 1 / 6 / 5;
  }

  .AddBill-container .billing-form .billing-form__btn {
    grid-area: 6 / 1 / 7 / 5;
    height: 45px;
    font-size: var(--paragraph-size-1024);
  }
}

@media (min-width: 1200px) {
  .AddBill {
    padding-left: 137px;
    padding-right: 50px;
    padding-bottom: 30px;
  }
}