.Admin {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.header-routes {
  display: flex;
  flex-direction: row;
}

/* --- NavBarAdmin --- */


.menu-card {
  background-color: #EDE6DE;
  height: 100vh;
  width: 240px;
  position: fixed;
  left: -100%;
  z-index: 99;
  transition: all .5s ease;
}

.active {
  left: 0;
}

.admin-nav {
  height: 100%;
  width: 260px;
  padding: 20px 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-menu {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.admin-nav__logo {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.close-menu {
  display: flex;
  align-items: center;
  color: #322828;
  font-size: 30px;
}

.admin-nav__component-links {
  list-style: none;
}

.admin-nav__li {
  display: flex;
}

.admin-nav__li--margin-bottom-0 {
  margin-bottom: 0;
}

.admin-nav__li--margin-bottom-10 {
  margin-bottom: 10px;
}

.admin-nav__link {
  color: var(--text-dark);
  font-size: 22px;
  text-decoration: none;
  font-weight: 500;
}

.admin-nav__icon {
  color: var(--text-dark);
  font-size: 22px;
  margin-right: 10px;
}

.admin-nav__icon>svg {
  margin-top: 1px;
}

.admin-nav__extra-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  background-color: #D3CBC2;
  padding: 4px;
  border-radius: 4px;
}

.profile__user {
  display: flex;
}

.user-profile__pic {
  width: 40px;
  border-radius: 7px;
}

.user-profile-text-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.user-profile__rol,
.user-profile__name {
  color: var(--text-dark);
  font-weight: 600;
}

.user-profile__name {
  font-weight: 500;
}

.logout {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.logout-icon {
  color: #322828;
  font-size: 25px;
}

/* --- TOP HEADER --- */

.HeaderAdmin {
  position: relative;
  background-color: var(--testimonial-card);
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px;
}

.HeaderAdmin>img {
  cursor: pointer;
}

.header-menu {
  width: 25px;
}
.width-menu-open {
  width: calc(100vw - 240px) !important;
}
.width-menu-close {
  width: 100vw !important;
}

.header-menu > div {
  height: calc(100vh - 50px);
  width: 100vw;
}