.Admin {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.header-routes {
  display: flex;
  flex-direction: row;
}

/* --- NavBarAdmin --- */
.menu-card {
  background-color: #EDE6DE;
  height: 100vh;
  width: 260px;
  position: fixed;
  left: -100%;
  z-index: 99;
  transition: all .5s ease-out;
}

.active {
  left: 0;
}

.admin-nav {
  height: 100%;
  padding: 20px 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.admin-nav__li a.active {
  background-color: var(--active-link-dashboard-menu);
  width: 220px;
  height: 42px;
  align-items: center;
  border-radius: 4px;
}

.top-menu {
  display: flex;
  flex-direction: column;
}

.admin-nav__logo {
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.close-menu {
  display: flex;
  align-items: center;
  color: #322828;
  font-size: 30px;
}

/* BTN agregar paciente */
.primary-btn--navbar-open {
  width: 220px;
  border-radius: 5px;
  background-color: var(--accent-color);
  font-size: 17px;
}

.primary-btn--navbar-close {
  width: 48px;
  border-radius: 5px;
  background-color: var(--accent-color);
}

.primary-btn__img {
  padding-left: 5px;
}

.mid-menu {
  height: 100%;
  margin-top: 30px;
}

.admin-nav__component-links {
  list-style: none;
}

.admin-nav__li {
  display: flex;
}

.admin-nav__li--margin-bottom-0 {
  margin-bottom: 0;
}

.admin-nav__li--margin-bottom-10 {
  margin-bottom: 10px;
}

.admin-nav__link {
  display: flex;
  align-items: center;
  line-height: calc(100% + 3px);
  color: var(--text-dark);
  font-size: 22px;
  text-decoration: none;
  font-weight: 500;
  padding-left: 15px;
  height: 42px;
}

.admin-nav__link:hover {
  background-color: var(--active-link-dashboard-menu);
  border-radius: 4px;
  width: 220px;
}

.admin-nav__icon {
  color: var(--text-dark);
  font-size: 22px;
  margin-right: 10px;
}

.admin-nav__icon>svg {
  margin-top: 1px;
}

.admin-nav__extra-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  background-color: #D3CBC2;
  padding: 4px;
  border-radius: 4px;
}

.profile__user {
  display: flex;
}

.profile__rol {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding-top: 1px;
  margin-right: 22px;
}

.user-profile__pic {
  width: 40px;
  border-radius: 7px;
}

.user-profile-text-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.user-profile__rol,
.user-profile__name {
  color: var(--text-dark);
  font-weight: 600;
}

.user-profile__name {
  font-weight: 500;
}

.logout {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.logout-icon {
  color: #322828;
  font-size: 25px;
}

/* --- TOP HEADER --- */

.HeaderAdmin {
  position: relative;
  background-color: var(--btn-color-primary);
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px;
}

.HeaderAdmin>img {
  cursor: pointer;
}

.admin__content {
  width: 27px;
}

.width-menu-open {
  width: calc(100vw - 240px) !important;
}

.width-menu-close {
  width: 100vw !important;
}

.admin__content>div {
  height: calc(100vh - 50px);
  width: 100vw;
}

@media (min-width: 768px) {

  .menu-card {
    background-color: #EDE6DE;
    height: 100vh;
    position: fixed;
    left: 0;
    z-index: 99;
    transition: none;
  }
}