/* ----------------- LOGIN.JSX & REGISTER.CSS -----------------
** ------------------------------------------------------------
*/
/*
** -------------------------- ÍNDICE --------------------------
** ------------------------------------------------------------
** - 01. CONTENEDORES
** - 02. HEADER DE PÁGINA
** - 03. TÍTULO DEL REGISTRO
** - 04. FORMULARIO
** - 05. LINK IR A LOGIN, REGISTRO & RECUPERAR CONTRASEÑA
** - 06. RESPONSIVE +375PX
**   - 06.1. CONTENEDORES
** - 07. RESPONSIVE +768PX
**   - 07.1. CONTENEDORES
** ------------------------------------------------------------
*/

/*
** 01. CONTENEDORES
** ------------------------------------------------------------
*/
.Signup,
.Login {
  background-image: url('../assets/fondo-login.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.signup-form-container,
.login-form-container {
  height: calc(100vh - 50px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* --- Card que envuelve el formulario */
.signup-form-card,
.login-form-card {
  width: 300px;
  background-color: rgb(30, 30, 30);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
** 02. HEADER DE PÁGINA
** ------------------------------------------------------------
*/
.signup-header,
.login-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
}

.signup-header__link,
.login-header__link {
  text-decoration: none;
  margin-top: 10px;
}

/*
** 03. TÍTULO DEL REGISTRO
** ------------------------------------------------------------
*/
.register-form__title,
.login-form__title {
  width: 240px;
  margin-bottom: 20px;
  font-size: 25px;
  margin-top: 40px;
}

.register-form__title>h2,
.login-form__title>h2 {
  color: #FAFAFA;
  margin-bottom: 5px;
  font-weight: normal;
}

.register-form__title>hr,
.login-form__title>hr {
  width: 240px;
  color: #d9d9d9;
}

/*
** 04. FORMULARIO
** ------------------------------------------------------------
*/
.signup-form,
.login-form {
  margin-top: 20px;
  width: 240px;
}

.login-form {
  margin-top: 10px;
}

.item-form__wrapper {
  width: 100%;
  font-size: 1rem;
  position: relative;
  --primary: #A78158;
  margin-bottom: 10px;
}

.item-form__wrapper--login-password {
  margin-bottom: 0;
}

.item-form__input {
  all: unset;
  width: calc(100% - 2rem - 2px);
  color: var(--active-link-dashboard-menu);
  padding: 1rem;
  border: 1px solid var(--active-link-dashboard-menu);
  border-radius: 5px;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 4px;
}

.item-form__wrapper:nth-child(4) {
  margin-bottom: 15px;
}

.item-form__label {
  position: absolute;
  top: 1rem;
  left: 10px;
  color: var(--active-link-dashboard-menu);
  pointer-events: none;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --- Inputs activos */
.item-form__input:focus {
  border: 1.5px solid var(--primary);
}

/* --- Efecto label cuando se activa input */
.item-form__input:is(:focus, :valid)~.item-form__label,
.item-form__input--email:is(:focus, :not(:placeholder-shown))~.item-form__label {
  padding-inline: .3rem;
  color: var(--primary);
  transform: translateY(-135%) scale(.88);
  background-color: rgb(30, 30, 30);
}

/* --- Botón de registro */
.signup-form__btn,
.login-form__btn {
  width: 240px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #588F5E;
  color: #FAFAFA;
  font-size: 18px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.signup-form__btn:hover,
.login-form__btn:hover {
  background-color: #508256;
}

/*
** 05. LINK IR A LOGIN, REGISTRO & RECUPERAR CONTRASEÑA
** ------------------------------------------------------------
*/

/* --- Contraseña olvidada */
.login-form__forgot-password {
  width: 190px;
  display: flex;
  margin-bottom: 10px;
  margin-top: 2px;
  margin-bottom: 15px;
  text-decoration: none;
}

.login-form__forgot-password>p {
  font-size: 14px;
  color: #D9D9D9;
}

.login-form__forgot-password>p:hover {
  color: #af9696;
}

.goto-login,
.goto-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 17px;
  font-family: 'Poppins';
  color: var(--text-white);
}

.goto-login__link,
.goto-signup__link {
  text-decoration: none;
  color: #e3a529;
}

.goto-login__link:hover,
.goto-signup__link:hover {
  color: #c79020;
}

/*
** 06. RESPONSIVE +375PX
** ------------------------------------------------------------
*/
@media (min-width: 375px) {
  /*
  ** 06.1. CONTENEDORES
  ** ----------------------------------------------------------
  */
  .signup-form-card,
  .login-form-card {
    width: 350px;
  }
}

/*
** 07. RESPONSIVE +768PX
** ------------------------------------------------------------
*/
@media (min-width: 768px) {
  /*
  ** 07.1. CONTENEDORES
  ** ----------------------------------------------------------
  */
  .signup-form-container,
  .login-form-container {
    height: calc(100vh - 100px);
  }
}