.btn-table {
  width: 160px;
  height: 40px;
  font-size: 16px;
  background-color: var(--btn-color-primary);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
}

.btn-table:hover {
  background-color: #6b543f;
}