.Login {
  background-image: url('../assets/fondo-login.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.login-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
}

.login-header__link {
  text-decoration: none;
  margin-top: 10px;
}

.content-section--login {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-section__title {
  margin-bottom: 20px;
  font-size: 25px;
  margin-top: 40px;
}

.content-section__title>h2 {
  color: #FAFAFA;
  margin-bottom: 5px;
  font-weight: normal;
}

.content-section__title>hr {
  width: 200px;
  color: #d9d9d9;
}

.login-form {
  width: 231px;
  min-height: 400px;
  background-color: rgba(30, 30, 30, .6);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.inputs-login-container {
  margin-top: 10px;
  width: 190px;
}

.input-box--login>input {
  margin-bottom: 0;
}

.input-box__input--login {
  width: 190px;
  height: 35px;
  border: none;
  border-radius: 5px;
  color: #333333;
  font-size: 15px;
  padding-left: 10px;
  background-color: #D9D9D9;
  margin-bottom: 15px;
}

.input-box__input--login:focus {
  outline: 2px solid #3e3e3e;
}

.content-section__forgot-password {
  width: 190px;
  display: flex;
  margin-bottom: 10px;
  margin-top: 5px;
}

.forgot-password {
  font-size: 14px;
  color: #D9D9D9;
}

.btn-wrap {
  /* width: 190px; */
  display: flex;
  align-items: start;
  margin-top: 5px;
}

.primary-btn--login {
  width: 190px;
  height: 37px;
  border: none;
  border-radius: 5px;
  background-color: #588F5E;
  color: #FAFAFA;
  font-size: 15px;
}

.create-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  font-size: 17px;
  font-family: 'Poppins';
  color: var(--text-white);
}

.create-account__link {
  text-decoration: none;
  color: #e3a529;
}

.create-account__link:hover {
  color: #c79020;
}

@media (min-width: 768px) {
  .login-form {
    width: 260px;
    height: 294px;
  }
}

@media (min-width: 1024px) {

  .login-header {
    height: 50px;
    justify-content: start;
    margin: 0px 50px;
  }

  .login-form {
    width: 280px;
    height: 314px;
  }

  .inputs-container {
    width: 210px;
  }

  .input-box__text--login {
    font-size: 17px;
  }

  .input-box__input--login {
    width: 210px;
  }

  .primary-btn--login {
    padding-left: 1px;
  }
}