/* TODO: Optimizar css (depurar) codigo repetitivo */

.MedicalHistory {
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  padding: 10px;
}

.title-medical-history {
  font-size: 30px;
  width: 100%;
}

.see-btn>img {
  width: 25px;
}