.main-menu {
  display: flex;
  justify-content: space-between;
  height: 45px;
  padding: 0 10px;
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: var(--bg-primary);
}

/* --- BTN LOGIN --- */
.primary-btn--login-desktop {
  display: none;
}

.primary-btn--navbar-mobile {
  margin-top: 40px;
  font-size: calc(var(--paragraph-size-320) * 1.2) !important;
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-btn--navbar-mobile > img {
  display: inline-block;
  width: 13px;
  margin-right: 10px;
}

/* --- MENÚ DE NAVEGACIÓN GENERAL --- */
.main-menu__list {
  list-style: none;
  display: flex;
}

.main-menu__list--mobile {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-menu__list--mobile>li {
  margin-bottom: 10px;
}

.main-menu__item>a {
  text-decoration: none;
  cursor: pointer;
  color: var(--btn-color-secondary);
  font-weight: 500;
  font-size: 18px;
  margin-right: 10px;
}

/* --- MENÚ DE NAVEGACIÓN MOBILE --- */

.mobile-menu {
  display: flex;
  align-items: center;
}

.mobile-menu__img {
  width: 28px;
  height: 28px;
  position: relative;
  z-index: 99;
}

.mobile-menu__card {
  background-color: var(--bg-primary);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.main-menu__item--mobile>a {
  font-size: 2rem;
}

.social-media {
  display: none;
}

@media (min-width: 768px) {

  .main-menu {
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1.125rem 0 1.875rem 1.25rem;
    justify-content: space-between;
  }

  .mobile-menu {
    display: none;
  }

  /* --- MENÚ DE NAVEGACIÓN --- */

  .main-menu__list.hidden {
    display: flex;
    flex-direction: column;
  }

  .main-menu__list--desktop {
    justify-content: end;
  }

  .main-menu__item>a {
    font-size: 1.4rem;
  }

  .main-menu__item--margin-bottom-0{
    margin-bottom: 0;
  }

  .main-menu__item--margin-bottom-10{
    margin-bottom: 10px;
  }

  .main-menu__item--margin-right-0 {
  margin-right: 0;
}

  .main-menu__item--margin-right-10 {
    margin-right: 10px;
  }


  /* --- BTN LOGIN --- */
  .primary-btn--login-desktop {
    width: 130px !important;
    display: flex;
    margin-top: 20px;
    /* font-size: 15px !important; */
  }

  .primary-btn--login-desktop > img {
    display: inline-block;
    margin-right: 5px;
  }

  /* --- ICONOS REDES SOCIALES --- */

  .social-media__link {
    cursor: pointer;
  }

  .social-media {
    display: flex;
  }

  .social-media__img {
    height: 25px;
  }

}

@media (min-width: 1200px) {
  .main-menu__item>a {
    font-size: 25px;
  }
}