/* TODO: Optimizar css (depurar) codigo repetitivo */

.PatientList {
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  padding: 10px;
}

.title-container {
  display: flex;
  justify-content: start;
  margin: 20px;
  margin-top: 50px;
}

.title-patients-list {
  font-size: 30px;
  width: 100%;
}

.patient-list {
  height: 100vh;
  min-width: 1240px;
}

.actions-column {
  display: flex;
  justify-content: center;
  width: 70px;
}

.action-table-btn {
  margin: 0 5px;
}

.action-table-btn>img {
  cursor: pointer;
}

.edit-btn {
  width: 22px;
}

.delete-btn {
  width: 25px;
}

@media (max-height: 670px) {
  .title-container {
    margin-top: 40px;
  }
}

@media (min-width: 768px) {
  .PatientList {
    padding-left: 127px;
    padding-right: 40px;
    padding-bottom: 25px;
  }
}

@media (min-width: 1200px) {
  .PatientList {
    padding-left: 137px;
    padding-right: 50px;
    padding-bottom: 30px;
  }
}

@media (min-width: 1440px) {
  .PatientList {
    padding: 30px 0 30px 87px;
  }
}