.PatientDetail {
  color: black;
  padding: 10px;
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
}

/* --- Scroll personalizado --- */
.PatientDetail::-webkit-scrollbar {
  -webkit-appearance: none;
}

.PatientDetail::-webkit-scrollbar:vertical {
  width: 10px;
}

.PatientDetail::-webkit-scrollbar-button:increment,
.PatientDetail::-webkit-scrollbar-button {
  display: none;
}

.PatientDetail::-webkit-scrollbar:horizontal {
  height: 10px;
}

.PatientDetail::-webkit-scrollbar-thumb {
  background-color: #c1bebf;
  border-radius: 20px;
  border: 1px solid #f1f2f3;
}

.PatientDetail::-webkit-scrollbar-track {
  border-radius: 10px;
}

.PatientDetail .title-container {
  margin-top: 30px;
}

.title-patient-detail {
  font-size: 30px;
  width: 100%;
}

.patient {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5);
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  overflow-x: hidden;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
}

/* --- Cédula & Nombre de paciente --- */
.patient__name,
.patient__cc,
.patient__detail,
.patient__history,
.patient__bills {
  background-color: var(--bg-secondary);
  width: calc(100vw - 20px);
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  color: #231F20;
  display: flex;
  height: 100%;
}

.patient__detail,
.patient__history,
.patient__bills {
  flex-direction: column;
  position: relative;
}

.patient__history,
.patient__bills {
  padding-bottom: 20px;
}

.patient__name,
.patient__cc {
  position: relative;
  display: flex;
  padding-left: 20px;
  align-items: center;
  height: 50px;
}

.patient__name::before,
.patient__cc::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4C292F;
  width: 4px;
  height: 50px;
  border-radius: 4px 0 0 4px;
}

.patient__name-title {
  display: none;
}

.patient__cc-title {
  padding-right: 10px;
  font-weight: 600;
  color: #4C292F;
}


/* --- Header de Detalles, Historia clínica & facturas --- */
.HeaderPatientDetail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #4C292F;
  background-color: #E2D6C7;
  height: 50px;
  border-radius: 4px 4px 0 0;
}

.HeaderPatientDetail>h3 {
  margin-left: 20px;
}

.HeaderPatientDetail>img {
  width: 25px;
  margin-right: 20px;
}

/* --- Estilos personalizados para las tablas --- */
.patient__bills .DataTable,
.patient__history .DataTable {
  font-size: 15px;
}

.patient__bills .DataTable .table__spacing--patient-bills thead th,
.patient__history .DataTable .table__spacing--patient-history thead th {
  font-size: 17px;
  padding: 8px;
}

/* --- Detail --- */
.patient-detail {
  display: flex;
  flex-direction: column;
  margin: 15px 0 20px 23px;
}

.patient-detail__texto {
  color: #231f20a7;
  font-size: 15px;
  font-weight: 600;
}

/* --- Clinic History --- */
.patient__history.DataTable {
  margin: 20px 0;
}

@media (min-width: 525px) {
  .PatientDetail {
    padding: 40px;
  }

  .patient__name,
  .patient__cc,
  .patient__detail,
  .patient__history,
  .patient__bills {
    background-color: var(--bg-secondary);
    width: calc(100vw - 80px);
  }

  .patient__name-title {
    color: #4C292F;
    font-weight: 600;
    display: block;
    padding-right: 10px;
  }
}

@media (min-width: 768px) {

  .patient__name,
  .patient__cc,
  .patient__detail,
  .patient__history,
  .patient__bills {
    background-color: var(--bg-secondary);
    width: calc(100vw - 167px);
  }

  .PatientDetail {
    padding-left: 127px;
    padding-right: 40px;
    padding-bottom: 25px;
  }
}

@media (min-width: 1024px) {
  .patient {
    padding-bottom: 20px;
    grid-template-columns: repeat(5, 155px);
    grid-gap: 20px;
  }

  /* --- Grilla para tarjetas --- */
  .patient__name {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .patient__cc {
    grid-column: 4 / 6;
    grid-row: 1 / 2;
  }

  .patient__detail {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }

  .patient__history {
    grid-column: 3 / 6;
    grid-row: 2 / 3;
  }

  .patient__bills {
    grid-column: 3 / 6;
    grid-row: 3 / 4;
  }

  .patient__name,
  .patient__cc,
  .patient__detail,
  .patient__history,
  .patient__bills {
    background-color: var(--bg-secondary);
    width: 100%;
  }

  /* --- Estilos personalizados para las tablas --- */
  .patient__bills .DataTable,
  .patient__history .DataTable {
    font-size: 15px;
  }

  .patient__bills .DataTable .actions,
  .patient__history .DataTable .actions {
    position: absolute;
    top: -17px;
    left: 170px;
  }

  .patient__bills .DataTable .actions .search-input,
  .patient__history .DataTable .actions .search-input {
    background-color: #E2D6C7;
    color: #231F20;
    width: 180px;
  }

  /* --- Filas de las tablas --- */
  .patient__bills .DataTable .table__spacing--patient-bills thead th,
  .patient__history .DataTable .table__spacing--patient-history thead th {
    font-size: 17px;
    padding: 5px;
  }

  .patient__bills .DataTable .table__spacing--patient-bills tbody td,
  .patient__history .DataTable .table__spacing--patient-history tbody td {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  .patient {
    padding-bottom: 20px;
    grid-template-columns: repeat(5, 190px);
    grid-gap: 20px;
  }

  /* --- Barra de búsqueda de tablas --- */
  .patient__bills .DataTable .actions,
  .patient__history .DataTable .actions {
    left: 230px;
  }

  .patient__bills .DataTable .actions .search-input,
  .patient__history .DataTable .actions .search-input {
    width: 220px;
  }
}

@media (min-width: 1440px) {

  .patient {
    grid-gap: 30px;
  }

  /* --- Tarjetas --- */
  .patient__name,
  .patient__cc,
  .patient__detail,
  .patient__history,
  .patient__bills {
    font-size: 20px;
  }

  .patient__name,
  .patient__cc {
    height: 60px;
  }

  .patient__name::before,
  .patient__cc::before {
    height: 60px;
  }

  /* --- Header de tarjetas --- */
  .HeaderPatientDetail {
    height: 60px;
  }

  .HeaderPatientDetail>h3 {
    margin-left: 20px;
  }

  .HeaderPatientDetail>img {
    width: 25px;
    margin-right: 20px;
  }

  /* --- Barra de búsqueda de tablas --- */
  .patient__bills .DataTable .actions,
  .patient__history .DataTable .actions {
    position: absolute;
    top: -11px;
    left: 250px;
  }
}