.PatientHistory {
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.title-medical-patient-history {
  font-size: 30px;
  width: 100%;
}