.testimonials {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.testimonials-container {
  display: grid;
  justify-content: center;
}

.testimonial {
  width: 200px;
  display: grid;
}

.testimonials-container>div:nth-child(6),
.testimonials-container>div:nth-child(5),
.testimonials-container>div:nth-child(4),
.testimonials-container>div:nth-child(3) {
  display: none;
}

.testimonial__img {
  position: relative;
  margin: 0 auto;
  top: 12px;
}

.testimonal__text {
  background-color: var(--testimonial-card);
  color: var(--text-dark);
  font-size: var(--paragraph-size-320);
  width: 200px;
  height: 100px;
  padding: 12px 18px 14px;
  border-radius: 12px;
}

.primary-btn--testimonials {
  margin: 40px auto 0 auto;
  font-size: var(--paragraph-size-320);
  background-color: var(--btn-color-secondary);
  width: 190px;
  height: 40px;
}

@media (min-width: 1024px) {

  .testimonials {
    margin-top: 100px;
  }

  .testimonials-container {
    display: grid;
    grid-template-columns: repeat(3, 210px);
    grid-template-rows: repeat(2, 180px);
    grid-column-gap: 20px;
  }

  .testimonial {
    width: 210px;
  }

  .testimonials-container>div:nth-child(6),
  .testimonials-container>div:nth-child(5),
  .testimonials-container>div:nth-child(4),
  .testimonials-container>div:nth-child(3) {
    display: grid;
  }

  .testimonial__img {
    margin: 0 auto;
  }

  .testimonal__text {
    font-size: var(--paragraph-size-1024);
    width: 210px;
    height: 110px;
  }

  .primary-btn--testimonials {
    width: 200px;
    height: 45px;
    font-size: var(--paragraph-size-1024);
  }
}

@media (min-width: 1200px) {
  .testimonials-container {
    grid-template-columns: repeat(3, 215px);
    grid-template-rows: repeat(2, 185px);
    grid-column-gap: 25px;
  }

  .testimonial {
    width: 215px;
  }

  .testimonal__text {
    font-size: var(--paragraph-size-1366);
    width: 215px;
    height: 115px;
  }

  .primary-btn--testimonials {
    width: 220px;
    font-size: var(--paragraph-size-1366);
  }
}