.App {
  display: flex;
  flex-direction: row;
}

.body-components {
  z-index: 9;
}

@media (min-width: 768px) {
  .App {
    flex-direction: column;
  }

  .body-components {
    margin-left: 250px;
  }
}