:root {
  --bg-primary: #FAFAFA;
  --bg-secondary: #EDE6DE;
  --tittle-color: #313131;
  --text-dark: #1E1E1E;
  --text-gray: #646161;
  --text-white: #EDE6DE;
  --btn-color-primary: #5E4731;
  --btn-color-secondary: #4C292F;

  --title-size-1366: 30px;
  --paragraph-size-1366: 18px;

  --title-size-1024: 30px;
  --paragraph-size-1024: 17px;

  --title-size-768: 30px;
  --paragraph-size-768: 16px;

  --title-size-320: 25px;
  --paragraph-size-320: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #FFF;
  background-color: var(--bg-primary);
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
}

h1, h2 {
  color: var(--tittle-color);
  font-size: var(--title-size);
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.section-title {
  font-size: var(--title-size-320);
  padding-bottom: 20px;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

@media (min-width: 768px) {
  .section-title {
    font-size: var(--title-size-768);
  }
}

@media (min-width: 1024px) {
  .section-title {
    font-size: var(--title-size-1024);
  }
}

@media (min-width: 1200px) {
  .section-title {
    font-size: var(--title-size-1366);
    padding-bottom: 50px;
  }
}